h1 {
    color: #1da548;
    text-align: center;
}

body {
	background-color: #ffb7f6
}
strong {
  font-weight: bold;
  color: 	#9400D3;
  font-size: 50;
  }

  h2{
    color: #000000;
    text-align: left;

  }

p{
  color: #7FFFD4;
}
