<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" href="css/style.css">
  <title> Contact Us </title>
  <header> <h1> Contact Us </h1> </header>
</head>
  <body>
  <ul>
      {% for notification in notifications %}
      <li>{{ notification }}</li>
      {% endfor %}
  </ul>


  <form action="/contact" method="POST">
  			<label for="name">Name: </label>
  			<input type="text" name="name" id="name" required/><br />

        <label for="subject">Subject: </label>
  			<input type="text" name="subject" id="subject" required/><br />

        <label for="message">Message: </label>
  			<input type="text" name="message" id="message" required/><br />

        <input type="submit" value="Submit" id="submit" onclick="alert( 'Your message has been sent');">
      </body>
    </form>
    <div id="div">
		</div>
		<script src="../js/script.js"></script>
</html>
