<!DOCTYPE html>
<html>
	<head>
		 <link rel="stylesheet" href="css/style.css">
		<title>Assignment 1 - INFO 253 Web Architecture</title>
	</head>
	<body>
		<header>
			<h1> Camille's Static Website </h1>
					</header>
			<h2>
			<a href="AboutUs.html"><strong>  About Us </strong> </a> </br>  <a href="ContactUs.html"> <strong> Contact Us </strong> </a>
		</h2>

		<footer>
			<h2> Blog Posts </h2>
			<p><a href="8ExperimentsInMotivation.html"> 8 Experiments in Motivation </a></p>
			<p><a href="AMindfulShiftOfFocus.html"> A Mindful Shift of Focus </a></p>
			<p><a href="HowToDevelopAnAwesomeSenseOfDirection.html"> How to Develop and Awesome Sense of Direction </a></p>
			<p><a href="TrainingToBeAGoodWriter.html"> Training to Be a Good Writer.html </a></p>
			<p><a href="WhatProductivitySystemsWontSolve.html"> What Productivity Systems Won't Solve </a></p>
		</footer>
		<script type='text/javascript' src='/static/js/script.js'></script>
	</body>
</html>
